/Cryptoverse/node_modules
/Geritch-restuarant/node_modules
/gpt3-landing-page/node_modules
/Memories_app/client/node_modules
/Memories_app/server/node_modules
/Shareme/shareme_backend/node_modules
/Shareme/shareme_frontend/node_modules